<!-- <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-logo">
          <a href="/">
            <img src="assets/images/logo-orasystems-negro.svg" alt="Orasystem Logo">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <h2 class="footer-heading">Navegación</h2>
        <ul class="footer-links">
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="/servicios">Servicios</a></li>
          <li><a href="/contactanos">Contáctanos</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2 class="footer-heading">Datos de contacto</h2>
        <div class="social-links">
          <span>Síguenos:</span>
          <a href="https://www.linkedin.com/company/orasystem/about/" target="_blank" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <h2 class="footer-heading">Escríbenos</h2>
        <form class="footer-form">
          <div class="row">
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="col-6">
              <input type="email" class="form-control" placeholder="Correo electrónico" required>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <textarea class="form-control" rows="4" placeholder="Mensaje"></textarea>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <p>{{ currentYear }} © <strong>Orasystem Consulting & Administration IT</strong> | Diseño web por <a href="https://rocketmedia.cl/" target="_blank" rel="nofollow"><strong>Rocket Media</strong></a></p>
</div>  -->