<!-- 
<section class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-none d-md-block">
        <ul class="contact-info">
          <li><a href="mailto:comercial&#64;orasystem.cl"><i class="far fa-envelope-open"></i> comercial&#64;orasystem.cl</a></li>
          <li><a href="https://www.linkedin.com/company/orasystem/about/" target="_blank"><i class="fab fa-linkedin-in"></i> Síguenos</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="contact-phone">
          <a href="tel:+56 2 2947 9368">
            <i class="fas fa-phone-alt"></i>
            <div>
              <h3>¿Tiene alguna pregunta?</h3>
              <p>+56 2 2947 9368</p>
            </div>
          </a>
        </div>
        <ul class="additional-links">
          <li><a href="https://orasystem.cl/trabaja-con-nosotros/"><i class="far fa-comments"></i> Trabaja con nosotros</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<header class="main-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <a href="/" class="logo">
          <img src="assets/images/orasystem-final-logo.svg" alt="Orasystem Logo">
        </a>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4 d-none d-md-block">
        <a href="/contactanos" class="btn btn-primary">
          <i class="far fa-comment-dots"></i> Contáctanos
        </a>
      </div>
    </div>
  </div>
</header>
 -->